/*; Title: Assignment 1.3 Environment Set Up
; Author: Professor Krasso
; Date 17 March 2021
; Modified By: Jourdan Neal
; Description: Enterprise Javascript II Landing Page
=====================================================
*/

/*Set the HTML body color and background to --text-color and --background-color variables.*/
body {
    color: var(--text-color);
    background-color: var(--background-color);
}
/*CSS class for light-theme and assign it to the HTML body element.*/
body.light-theme {
    --text-color: #000;
    --background-color: #fff;
    --anchor-color: #4F3674;
    --h1-background-color: #3c275a;
    --h1-border-color: #D6A800;
    --heading-background-color: #3c275a;
    --heading-color: #fff;
    --heading-border-color: #D6A800;
    --anchor-hover-color: #4F3674;
    --anchor-hover-background-color: #D6a800;
    --card-background-color: #fff;
    --card-title-color: #4F3674;
    --btn-background-color: #4F3674;
    --btn-color: #fff;
    --btn-hover-background-color: #D6A800;
    --btn-hover-color: #4F3674;
    --input-border-color: #ccc;
}
/*CSS class for dark-theme with style variables.*/
body.dark-theme {
    --text-color: #fafafa;
    --background-color: #303030;
    --anchor-color: #fff;
    --h1-background-color: #9c27b0;
    --h1-border-color: #9c27b0;
    --heading-background-color: #424242;
    --heading-color: #fff;
    --heading-border-color: #424242;
    --anchor-hover-color: #D176e1;
    --anchor-hover-background-color: #303030;
    --card-background-color: #424242;
    --card-title-color: #D176e1;
    --btn-background-color: #D176e1;
    --btn-color: #fff;
    --btn-hover-background-color: #7d4787;
    --btn-hover-color: #fff;
    --input-border-color: #303030;
}


/*Set the HTML anchor color to --anchor-color and remove underline.*/
a {
    color:var(--anchor-color);
    text-decoration: none;
}
/*Set the HTML anchor hover background color, and text color.*/
a:hover{
    background-color: var(--anchor-hover-background-color);
    color: var(--anchor-hover-color);
}
/*Set h1 heading color, background color, padding, border.*/
h1 {
    color: var(--heading-color);
    background-color: var(--h1-background-color);
    padding: 10px;
    border: solid 1px var(--h1-border-color);
}
/*Set h2,h3,h4 color, background color, padding, border.*/
h2, h3, h4 {
    color: var(--heading-color);
    background-color: var(--heading-background-color);
    padding: 10px;
    border: solid 1px var(--heading-border-color);
}
/*Replace CSS card classes background color*/

/*Card styling for width, margins, shadow*/
.card {
    background-color: var(--card-background-color);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0,0.2);
    transition: 0.3s;
    width:600px;
    margin: 3% auto 0;
}
/*Card styling for card-title.*/
.card-title {
    text-align :center;
    font-size: 2em;
    background-color: var(--card-background-color);
    color: var(--card-title-color);
    font-weight: 400;    

}
.card-content {
    padding: 2px 16px;
}
/*Replace btn background color and text color.*/
.btn-primary {
    background-color: var(--btn-background-color);
    color: var(--btn-color);
}

/*Replace btn hover text and background color.*/ 
.btn-primary:hover {
    background-color: var(--btn-hover-background-color);
    color: var(--btn-hover-color);
}
/*Styling for user input box,replace border color.*/
.input {
    padding: 12px 20px;
    margin: 8px 0px;
    display: inline-block;
    border: 1px solid var(--input-border-color);
    border-radius: 4px;
    box-sizing: border-box;
}
/*Replace drop-down-menu border color.*/
.drop-down-menu {
    padding: 12px 20px;
    margin: 8px 0px;
    display: inline-block;
    border: 1px solid var(--input-border-color);
    border-radius: 4px;
    box-sizing: border-box;
}