/*; Title: Assignment 3.2 Restaurant App
; Author: Professor Krasso
; Date 4 April 2021
; Modified By: Jourdan Neal
; Description: Restaurant app, combining multiple js files using import.
=====================================================
*/

/*Font style.*/
html, body {
    font-family: "Oswald", Verdana, Arial, sans-serif;
}
 .grid-container{
     display:grid;
     grid-template-columns: auto auto;
     grid-column-gap: 10px;
 }

 .grid-item{
     display:inline-block;
 }