Body{
    background-image: url(type.jpg);
    background-repeat: no-repeat;
    background-size:100% 900px;
    background-attachment: fixed;
}

#indexText{
    float:left;
    margin-top:15%;
    margin-left:10%;
    width:600px;
    font-family: 'Special Elite', cursive;
    color:whitesmoke;
    font-size:20px;
}

h2{
    font-family: 'Special Elite', cursive;
    color:whitesmoke;
    font-size:35px;
    
}

h3{
    float:right;
}

#signature{
    font-family: 'Bad Script', cursive;
    float:right;
}