/*Index photo also bucket list page*/
#indexPhoto{
    background-image: url(images/type.jpg);
    background-repeat: no-repeat;
    background-size:100% 950px;
    background-attachment: fixed;
    }
    /*About page background photo*/
    #aboutPhoto{
    background-image: url(images/compass.jpg);
    background-repeat: no-repeat;
    background-size:100% 950px;
    background-attachment: fixed;
    }
    
    /*Plain wood background photo*/
    #projectsPhoto{
    background-image: url(images/wood.jpg);
    background-repeat: no-repeat;
    background-size:100% 950px;
    background-attachment: fixed;
    }

    /*Text for bucket list page*/
    #bucketListText{
    font-family: 'Special Elite', cursive;
    color:whitesmoke;
    margin:140px;
    font-size: 20px;
    line-height: 2;
    }

    /*Text for index page*/
    #indexText{
    float:left;
    margin-top:15%;
    margin-left:10%;
    width:600px;
    font-family: 'Special Elite', cursive;
    color:whitesmoke;
    font-size:20px;
    }
    
    h2{
    font-family: 'Special Elite', cursive;
    color:whitesmoke;
    font-size:35px;
    
    }
    
    #signature{
    font-family: 'Bad Script', cursive;
    float:right;
    }
    
    /* Styling for card*/
    .card {
    background-color: var(white);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0,0.2);
    transition: 0.3s;
    width:650px;
    margin: 3% auto 0;
    padding:10px;
    }
    
    /*Card w/ columns*/
    .card {
    background-color: var(white);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0,0.2);
    transition: 0.3s;
    width:650px;
    margin: 3% auto 0;
    padding:20px;
    }
    
    /*Card styling for card-title.*/
    .card-title {
    font-family: 'Special Elite', cursive;
    text-align :center;
    font-size: 2em;
    background-color:white;
    color: black;
    font-weight: 400;    
    }

    #footerText{
        background-color:white;
        padding:10px;
        text-align:center;
        }
 